= simple_form_for [@subject, @quiz] do |f|
  = f.error_notification

  = f.simple_fields_for :quiz_answers do |qq|
    %ol
      = render 'quiz_answer_fields', f: qq

  .form-actions
    = f.button :submit
