.page-header
  = link_to new_answer_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Answer
  %h1 Listing answers

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Question
        %th
        %th
        %th

    %tbody
      - @answers.each do |answer|
        %tr
          %td= answer.title
          %td= answer.question
          %td= link_to 'Show', answer
          %td= link_to 'Edit', edit_answer_path(answer)
          %td= link_to 'Destroy', answer, data: { confirm: 'Are you sure?' }, method: :delete
