.page-header
  = link_to new_subject_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Subject
  %h1 Listing subjects

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @subjects.each do |subject|
        %tr
          %td= subject.name
          %td= link_to 'Show', subject
          %td= link_to 'Edit', edit_subject_path(subject)
          %td= link_to 'Destroy', subject, data: { confirm: 'Are you sure?' }, method: :delete
